.container {
    display: inline-flex;
    border: solid;
    border-radius: 1rem;
    border-width: thin;
    margin: 10px;
    box-shadow: 10px 10px 5px grey;
}
.container img {
    width: 100px;
    height: auto;
}

.CheeseBoard .title {
    font-size: 50px;
    font-family: 'Nanum Gothic Coding', monospace;
}

.container .rmButton {
    background-color: lightskyblue;
    width: 60px;
    height: 30px;
    border-radius: 1rem;
}

.CheeseBoard .occasionButton {
    background-color: lightskyblue;
    width: 60px;
    height: 30px;
    border-radius: 1rem;
}

input {
    width: 200px;
}

.container h2 {
    font-family: 'Nanum Gothic Coding', monospace;
}

.CheeseBoard {
    display: flex;
    flex-direction: column;
    align-items: center;
}
