h1 {
    display: flex;
    font-family: 'Nanum Gothic Coding', monospace;
    justify-content: center;
}



h3 {
    display: flex;
    justify-content: flex-start;
    font-family: 'Nanum Gothic Coding', monospace;
}

li {
    display: flex;
    justify-content: flex-start;
    font-family: 'Nanum Gothic Coding', monospace;
    list-style: none;

}

ul {
    display: flex;
    flex-direction: column;
}



.deliItems .button {
    background-color: lightskyblue;
    width: 60px;
    height: 30px;
    margin-left: 10px;
    border-radius: 1rem;
}


.deliItems {
    border-radius: 1rem;
    border: solid;
    display: inline-flex;
    border-width: thin;
    box-shadow: 10px 10px 5px grey;
    margin: 5px;
}